$main-red-color: #D43F4E;
$cover-red-color: #E9221C;

$interpreter-book-background: #151515;
$compiler-book-background: #FFFFF8;

// Bootstrap overwrites
$body-color: $interpreter-book-background;

$primary: $cover-red-color;
$secondary: #ffca28;
$black: #212529;


  // .navbar-toggler-icon {
  //   background-image: $navbar-light-toggler-icon-bg;
  // }

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 20%);
$link-hover-decoration: underline;

// Fonts
$font-size-base: 1.1rem !default;

$font-family-base: Helvetica, sans-serif, -apple-system;
$font-family-serif: Helvetica, Arial, sans-serif, -apple-system;
$font-family-mono: 'Roboto Mono', monospace;
$line-height-base: 1.4;

// Headings & Paragraph
$paragraph-color: #333;

// Bootstrap
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/utilities';
@import 'bootstrap/grid';
@import 'bootstrap/type';
@import 'bootstrap/tables';
// @import "bootstrap/images";
// @import "bootstrap/code";
// @import "bootstrap/forms";
// @import "bootstrap/buttons";
@import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
// @import "bootstrap/print";

// Libraries
// @import 'libraries/hamburgers/hamburgers';
@import 'libraries/pygments/github';


// Components
@import 'components/page';
@import 'components/header';

.custom-toggler .navbar-toggler {
    border-color: $primary;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(212, 63, 78, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

h3 { margin-top: 5rem; margin-bottom: 1rem; }
h4 { margin-bottom: 0.8rem; }

.navbar {
  background: white;
}

#title {
  margin-top: 1em;
  font-size: $font-size-base * 4;
  line-height: 1.1;
  // font-family: $font-family-base;
  letter-spacing: -0.2px;
  font-weight: 100;
  // @include media-breakpoint-up(md) {
  //   font-size: 3rem;
  //   margin-bottom: 30px;
  // }
}
#subtitle {
  font-size: $font-size-base * 2;
  line-height: 1.4;
  // font-family: $font-family-base;
  letter-spacing: -0.2px;
  font-weight: 200;
  margin-bottom: 4em;
  // @include media-breakpoint-up(md) {
  //   font-size: 1.6rem;
  // }
}

pre {
  font-size: $font-size-base * 0.8;
  padding: 0.5rem;
}

.cover {
  max-height: 150px;
}

.book-section {
  margin-bottom: 3rem;
}
