$cover-red-color: #E9221C;
$interpreter-book-background: #151515;
$compiler-book-background: #FFFFF8;

$theme-colors: (
  "cover-red": $cover-red-color,
  "light-grey": #f2f2f2
);

$primary: $cover-red-color;
// $secondary: #ffca28;
// $black: #212529;

// Bootstrap overwrites
$body-color: $interpreter-book-background;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 20%);
$link-hover-decoration: underline;

// Fonts
$font-size-base: 1.1rem !default;
$font-family-base: Helvetica, sans-serif, -apple-system;
$font-family-serif: Helvetica, Arial, sans-serif, -apple-system;
$font-family-mono: 'Roboto Mono', monospace;
$line-height-base: 1.4;

// Bootstrap
@import 'bootstrap/functions';
@import 'bootstrap/variables';
$spacers: map-merge(
  (
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 5),
    8: ($spacer * 6),
    9: ($spacer * 7)
  ),
  $spacers
);

@import 'bootstrap/mixins';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/utilities';
@import 'bootstrap/grid';
@import 'bootstrap/type';
@import 'bootstrap/tables';
// @import "bootstrap/images";
// @import "bootstrap/code";
// @import "bootstrap/forms";
// @import "bootstrap/buttons";
@import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
@import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
// @import "bootstrap/print";

// Libraries
@import 'libraries/pygments/github';

// Navbar
.custom-toggler {
  border-color: $primary;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(233, 34, 28, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

// Headers
h3 { margin-top: 6rem; margin-bottom: 1.5rem; font-size: 2.6em; }
h4 { margin-bottom: 0.8rem; }

// Single elements
#title {
  font-size: $font-size-base * 4;
  line-height: 1.1;
  letter-spacing: -0.2px;
  font-weight: 100;
  // @include media-breakpoint-up(md) {
  //   font-size: 3rem;
  //   margin-bottom: 30px;
  // }
}
#subtitle {
  font-size: $font-size-base * 2;
  line-height: 1.4;
  letter-spacing: -0.2px;
  font-weight: 200;
  // @include media-breakpoint-up(md) {
  //   font-size: 1.6rem;
  // }
}

pre {
  font-size: $font-size-base * 0.8;
  padding: 0.5rem;
}

.cover {
  max-height: 150px;
}

.book-section {
  margin-bottom: 3rem;
}
