{{ define "title" }}Monkey{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}
<div class="container pt-2 pt-s-4 pb-16">
  <div class="row">
    <div class="col col-lg-10 offset-lg-1">
      <div class="content">

        <div class="mt-2 mb-2 mt-md-8 mb-md-8 clearfix">
          <div class="text-center float-md-left">
          <img alt="Monkey logo" class="mb-3 mt-md-4 mt-lg-0 mr-md-4 mb-md-5" src="{{ .Site.Params.logo.standard | relURL }}" width="120"/>
          </div>

          <div>
          <h1 id="title">Monkey</h1>
          <h2 id="subtitle">The programming language that lives in books</h2>
          </div>
        </div>

        {{ if .Content }}
        {{ .Content }}
        {{ end }}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-md-10 offset-md-1 text-center mt-3 mb-3">
      Copyright © 2019 <a href="https://thorstenball.com">Thorsten Ball</a>. All rights reserved.
    </div>
  </div>
</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}
