.sub-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-up(md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sub-footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
}
